version: '3'

x-airflow-common:
  &airflow-common
  image: apache/airflow:2.9.1
  environment:
    &airflow-common-env
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
    AIRFLOW__CORE__FERNET_KEY: ""
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: "true"
    AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    AIRFLOW__API__AUTH_BACKENDS: "airflow.api.auth.backend.basic_auth,airflow.api.auth.backend.session"
    _PIP_ADDITIONAL_REQUIREMENTS: "-r /opt/airflow/requirements.txt"
    AIRFLOW_UID: 50000

  volumes:
    - ../dags:/opt/airflow/dags
    - ../etl:/opt/airflow/etl
    - ../plugins:/opt/airflow/plugins
    - ../logs:/opt/airflow/logs
    - ../requirements.txt:/opt/airflow/requirements.txt

services:

  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 10s
      retries: 5

  airflow-init:
    <<: *airflow-common
    entrypoint: /bin/bash
    command:
      - -c
      - |
        airflow db init &&
        airflow users create \
          --username admin \
          --password admin \
          --firstname Ernest \
          --lastname Admin \
          --role Admin \
          --email admin@example.com
    depends_on:
      - postgres

  webserver:
    <<: *airflow-common
    command: webserver
    ports:
      - "8080:8080"
    depends_on:
      - airflow-init
      - postgres

  scheduler:
    <<: *airflow-common
    command: scheduler
    depends_on:
      - airflow-init
      - postgres

  triggerer:
    <<: *airflow-common
    command: triggerer
    depends_on:
      - airflow-init
      - postgres

volumes:
  postgres-db-volume:
environment:
  MY_API_KEY: "value"
  DB_USER: "..."
  DB_PASSWORD: "..."
  DB_HOST: "..."
  DB_NAME: "..."
  DB_PORT: "..."
  